.Header
  .Header__title
    %h1 Run!
    %h5 
    = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'Button'
    = link_to "トップページに戻る", :back, class: 'Button'


.SettingGroupForm
  %h1 チャットグループ編集
  = render partial: 'form', locals: { group: @group }

.Footer
  .Copyright
    Copyright © 2020 Run!, All Rights Reserved.
 