* {
  box-sizing: border-box;
}
.wrapper{
  display: flex;
}
.side_bar{
  width:300px;
  background-color: greenyellow;
  color:#ffffff;
  justify-content: center;
  align-items: center;

    
    &__user__name{
      background-color:greenyellow;
      height:100px;
      font-size: 16px;
      padding: 0px 20px;
      justify-content: center;
      display: flex;
      align-items: center;
      

      .side_bar__list{
    background-color :greenyellow;
    width: 260px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    
      }
      .side_bar__list__name{
        display: flex;
        justify-content: flex-start;
        color:black;
        
      }
      .side_bar__icon{
        width: 60px;
        display: flex;
        justify-content: flex-end;
        color: #ffffff;
       .edit{ 
        color: #ffffff;
        margin: 0px 0px 0px 5px;
       }
       .fas{
        color: #ffffff;
        margin: 0px 0px 0px 5px;
        
       }
       .running{
        color: #ffffff;
        margin: 0px 0px 0px 5px;
       }

      }
    }
      &__group__list{
        background-color:#ffffff;
        height:calc(100vh - 100px);
        justify-content: flex-start;
        color: #ffffff bold;
        overflow:scroll;
        
        .group{
          color: black bold;
          &__name{
            padding:20px 5px 20px 20px;
            font-size: 15px black;
            width:220px;
            height:15px;
            text-decoration: 1px solid #38f075;
            
            }
          &__message{
            padding:0px 20px 40px 20px;
            font-size:11px black;
            width:220px;
            height:10px;
            text-decoration: 1px solid #38f075;
          }
          a{
            color:#38f075;
            text-decoration: none;
            
          }
         }
      }
  }

 .main_chat{
    justify-self:center;
    align-items: center;
    flex-direction: column;
    width: calc( 100vw - 300px );
  
    &__group__info{
        height:100px;
        background-color:#ffffff;
        display: flex;
        justify-content:space-between;
        border-bottom:solid 1px #eee;
        padding:0 40px;
        .main_chat__group{
          position: relative;
            &__name{
              font-size: 20px;
              color: black;
              margin-top:35px;
            }
            &__memberlist{
              font-size: 12px;
              display:flex;
              color:#999999;
              margin-top:15px;
            }
        } 
        .main_chat__group__edit__botton{
            display: block;
            margin-top: 28px;
            line-height:40px;
            padding:0px 20px;
            height:40px;
            font-size: 16px;
            border:1px solid  #ffa500;
            .main_chat__group__edit{
              text-decoration:none;
              color: #ffa500;
            }
        }
    }
      .main_chat__message__list{
          background-color:#fafafa;
          height:calc(100vh - 190px);
          padding:35px 40px 0;
          overflow:scroll;
          background-image : url(https://images.unsplash.com/reserve/7MWItPwYTzOaKwG6SYLl_O14A0436.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
          background-size: cover;
          .message__box{
            margin-bottom:46px;
          }
              .message_info{
                display: flex;
              
                &__user__name{
                  color:#ffa500; 
                  font-size: 16px;
                  font-weight:bold;
                }
                &__date{
                  color:#ffd700; 
                  font-size: 12px;
                  padding-left: 10px;
                }
              } 
          .message{
            margin-top: 12px;
          
            &__content{
              color:#ffa500;
              font-size: 14px;
            }
          } 
      }

      .main_chat__message__form{
        background-color:greenyellow;
        height:90px;
        padding:20px 50px 20px 40px;
        display: flex;
        align-items: center;
        
        .main_chat__message__form__1{
          width: 100%;
        }
        
          &__parent{
             display:flex;
             justify-content:space-around;
             width:100%;
             height:50px;
             
            .main_chat__message__form__child{
                width:100%;
                height:50px;
                position: relative;
                &__1{
                  display: block;
                  color:black;  
                  background-color: #ffffff;
                  width: 100%;
                  height: 50px;
                  display: table-cell;
                  vertical-align: middle;
                  }
                &__image__1{
                  .image{
                  position:absolute;
                  height:50px;
                  right:10px;
                  top: 8px;
                  font-size: 2em;
                  }
                  .image__child{
                  color:#000;
                  display: none;
                  }
                  
                }
            }         
              .message__btn{
                background-color: #ffa500;
                color:#fff;
                font-size:16px;
                height:50px;
                margin-left:15px;
                padding:0 30px;
                border:solid 1px #ffa500;
                display: table-cell;
                vertical-align: middle;
                line-height: 50px;
              }
          
      } 
   } 
 }  