body,html{
  background-image : url(https://images.unsplash.com/photo-1495898969439-a2a84bea6a22?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80);
  height:100vh;
  width:100vh;
  background-size: cover;
  background-position: center center;
}

.AccountPage {
  width: 980px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
 
}


.AccountPage__title {
  width: 50%;
  font-size: 14px;
  font-weight: 200;
  h2 {
    margin-bottom: 10px;
    letter-spacing: 3px;
    font-size: 40px;
    color: #38f075;
    &:after {
      content: "";
      display: block;
      width: 60px;
      margin-top: 5px;
      border-bottom: 1px solid #38f075;
    }
  }

  .Button {
    margin-top: 40px;
    color: #fff;
    background-color: #ccc;
  }
}

.AccountPage__form {
  width: 50%;
}

.FormField {
  margin-bottom: 10px;
  &__label--normal {
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 200;
    i {
      font-size: 11px;
    }
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }
  &__input--normal {
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      letter-spacing: 1px;
    }
    .field_with_errors {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

.Button {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  text-decoration: none;
}

.UserButton {
  margin-top: 20px;
  color: #fff;
  background-color: #38f075;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}

.Introduction{
  height:700px;
  width:1000px;
  font-size:20px;
  margin: 20px 20px;
  padding: 20px 20px;
  color:#fff;
  font-family: 'Sacramento', cursive;
  @import url('https://fonts.googleapis.com/css?family=Sacramento');
  letter-spacing: 0.05em;
  line-height: 2.5;
  border-radius: 4px;
  font-weight: bold;

  }
